.img-responsive {
    width: 500px;
    height: 388px;
}

.box_style {
    width: 412px;
}

.card-subtitle {
    font-size: 14px;
    color: #eb7c26;
    margin-left: 20px;
}

.card-title {
    font-size: 20px;
    margin-left: 20px;

}


.span_text {
    color: #333;
    margin-left: 10px;
}

.price {
    font-size: 25px;
    font-weight: bold;
    color: #FE642E;
    margin-left: 20px;
    margin-top: -20px;
}

.text_price {
    font-size: 13px;
    margin-left: 20px;
    color: #645E5E;
    font-weight: 500;
}

.text_price1 {
    font-size: 13px;
    margin-left: 20px;
    color: #645E5E;
    font-weight: 500;
    padding-top: 10px;
}

.span_price {
    color: #FE642E;
    font-weight: 700;
}










































